/* This file is for your main application css. */
@import "./phoenix.css";

@import url(https://fonts.googleapis.com/css2?family=Fira+Code:wght@500);

.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}
