@import url(https://fonts.googleapis.com/css2?family=Fira+Code:wght@500);

*,
*:after,
*:before {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: #fff;
  font-family: "Fira Code";
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.6;
  background-color: #0069d9;
}

button {
  background-color: #0069d9;
  border: 0.1rem solid white;
  border-radius: 0.4rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  height: 3.8rem;
  letter-spacing: 0.1rem;
  line-height: 3.8rem;
  padding: 0 3rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

button:focus,
button:hover {
  background-color: gray;
  border-color: white;
  color: #fff;
  outline: 0;
}

input[type="url"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: grey;
  color: white;
  border: 0.1rem solid #0069d9;
  border-radius: 0.4rem;
  box-shadow: none;
  box-sizing: inherit;
  height: 3.8rem;
  padding: 0.6rem 1rem;
  width: 100%;
  margin-bottom: 1.5rem;
}

label {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  letter-spacing: -0.1rem;
  margin-top: 0;
}
h1 {
  font-size: 4.6rem;
  line-height: 1.2;
}
h2 {
  font-size: 3.6rem;
  line-height: 1.25;
}
h3 {
  font-size: 2.8rem;
  line-height: 1.3;
}
h4 {
  font-size: 2.2rem;
  letter-spacing: -0.08rem;
  line-height: 1.35;
  margin: 0;
  margin-top: 2rem;
}
h5 {
  font-size: 1.8rem;
  letter-spacing: -0.05rem;
  line-height: 1.5;
}
h6 {
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 1.4;
}

li {
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

strong {
  font-weight: 700;
}

a,
a:visited {
  display: block;
  margin: auto;
  margin-top: 2rem;
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 1rem;
  color: white;
  width: 17.5rem;
}

a:hover,
a:focus {
  background-color: gray;
}

.container {
  margin: 20rem auto;
  max-width: 80rem;
  padding: 0 2rem;
  position: relative;
  width: 100%;
  text-align: center;
}

.copy-field {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: gray;
  color: white;
  border: 0.1rem solid #0069d9;
  border-radius: 0.4rem;
  box-shadow: none;
  box-sizing: inherit;
  height: 3.8rem;
  padding: 0.6rem 1rem;
  width: 25rem;
  text-align: center;
}

.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.alert {
  color: white;
  background-color: indianred;
  width: 20rem;
}
